* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

#container {
  width: 80vw;
  height: 80vh;
}

canvas {
  padding: 50px;
  margin: 50px 100px;
}
